@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* fix antd icon centering problem
*  see: https://github.com/ant-design/ant-design/issues/13074#issuecomment-671093258
svg {
  vertical-align: baseline;
}
**/

.ant-list {
  background-color: white;
}

/* see: https://github.com/ant-design/ant-design/issues/21404#issuecomment-586800984 */
.table-action-button,
.table-action-button .ant-btn {
  border: 0;
  padding: 0;
  height: unset;
}
